body {
  margin: 0;
  padding: 0;
  background-color: #243b55;
  font-family: sans-serif;
}
h2 {
  color: white;
  margin-top: 50px;
  margin-bottom: 50px;
}
.background {
  transition: 1s;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
  width: 400px;
  text-align: center;
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}
input {
  transition: 1s;
  border: none;
  border-bottom: 1px solid whitesmoke;
  margin-bottom: 50px;
  outline: none;
  background: none;
  width: 300px;
  font-size: 20px;
  color: white;
}
button {
  transition: 1s;
  margin-bottom: 60px;
  margin-top: 50px;
  width: 120px;
  height: 50px;
  background: none;
  color: #03e9f4;
  font-size: 16px;
  border: none;
  border-radius: 5px;
}

button:hover {
  transition: 1s;
  cursor: pointer;
  transition-delay: 0.2s;
  transition-duration: 0.8s;
  transition-timing-function: ease-in-out;
  color: white;
  border: none;
  border-radius: 5px;
  background: #03e9f4;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4,
    0 0 100px #03e9f4;
  color: white;
}

.anime {
  transition: 1s;
  height: 48px;
  width: 118px;

  position: absolute;
  left: 140px;
  top: 330px;
  z-index: 2;
  pointer-events: none;
  animation: anime 0.7s 0s ease-in-out infinite normal none;
  border: none;
}
@keyframes anime {
  0% {
    transition: 1s;
    border-left: 3px solid #03e9f4;
  }
  33% {
    transition: 1s;
    border-top: 3px solid #03e9f4;
  }
  66% {
    transition: 1s;
    border-right: 3px solid #03e9f4;
  }
  100% {
    transition: 1s;
    border-bottom: 3px solid #03e9f4;
  }
}
